@{
    ViewData["Title"] = "TestPage";
}

<h1>TestPage</h1>

<p>The Current Time: @(DateTime.Now.ToLongTimeString())</p>

<form action="/Home/TestPage" method="get">
    <label for="item">Item:</label>
    <input id="item" type="text" name="item" value="" />
    <input type="submit" value="Submit" />
</form>

<ul>

</ul>