
@{
    ViewData["Title"] = "Management";
}

<h1>Management</h1>

<section>
    <h2>List of People</h2>
    @if (ViewBag.People.Count > 0)
    {
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
    </tr>
    @foreach (Person person in ViewBag.People)
    {
        <tr>
            <td><a href="/Person/Details?id=@(person.ID)">@(person.ID)</a></td>
            <td>@(person.FirstName)</td>
            <td>@(person.LastName)</td>
            <td>@(person.DateOfBirth.ToShortDateString())</td>
        </tr>
    }
</table>

    }
</section>

<section>
    <h2>Create a Person</h2>
    <form action="/Person/Create" method="get">
        <div>
            <label for="firstName">First Name:</label>
            <input id="firstName" type="text" name="firstName" value="" />
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <input id="lastName" type="text" name="lastName" value="" />
        </div>
        <div>
            <label for="dateOfBirth">Date of Birth:</label>
            <input id="dateOfBirth" type="text" name="dateOfBirth" value="" />
        </div>
        <input type="submit" value="Submit" />
    </form>

</section>

<section>
    <h2>Delete a Person</h2>
    <form action="/Person/Delete" method="get">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" name="firstName" value="" />
        <input type="submit" value="Submit" />
    </form>
</section>